body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(220, 214, 214);
    background: url("../images/rick.jpg");
    
}

h1 > span{
padding: 10px;
font-size: 2em;
color: black;
/* background-color:#f2f4f5; */
font-family: 'Courier New', Courier, monospace;
letter-spacing: 5px;
word-spacing: 1em;
background-color: rgba(211, 211, 211, 0.7);
/* opacity: 0.5; */
/* box-shadow: 3px 15px 30px 1px black; */
border-radius: 5px;
}

label{
    font-size:1.5em;    
}

section#main{
    display: flex;
}

section#form-content{
    padding: 1em;
    /* background-color: #f2f4f5; */
    background: linear-gradient(270deg, rgb(65, 37, 245) 0%, rgb(105, 178, 255) 100%);
    text-align: left;    
    text-justify: inter-cluster;
    width: 40%;
    box-shadow: 3px 15px 30px 1px ;
    border-radius: 4px;
    font-weight: 100;
    
}

section#form-output{
    margin-left: 10px;
    background-color: #f2f4f5;
    width :60%;
    color: black;
    text-align: left;    
    padding: 10px;    
    box-shadow: 3px 15px 30px 1px black;
    border-radius: 4px;
    
}

input{
    padding: 3px;
    margin : 10px;
    width: 70%;
    border: none;
    border-left: 1px solid rgb(158, 156, 160);
    outline: none;
    background: transparent;
    font-size:1.2em;
    font-family: 'Courier New', Courier, monospace;

    /* box-shadow: 1px 3px 15px 1px black; */
    
    /* border-bottom: 0.1px solid grey; */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(101, 113, 126);

}
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgb(105, 178, 255);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgb(105, 178, 255);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgb(105, 178, 255);
  }

.editbody{
    background-color: rgb(220, 214, 255);
}



button{
    background: transparent;
    border: 2px solid rgb(11, 255, 11);
    padding: 10px 2em 10px 2em;
    margin-top:0.7em;
    margin-left: 0.5em;
    border-radius: 3px;
    outline:none;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(13, 243, 71);
    
}

button:hover{
    color: white;
    background: rgb(11, 255, 11);
    transition: 0.3s ease;  
    outline:none; 
    cursor: pointer;   
    /* border: none; */
}

li{
    text-decoration: none;
    list-style: none;
    font-size:1.2em;   
}


.contact-name{
    color: black;
    padding: .8em 3em .8em 3em;
    border: 5px, solid, grey;
    margin-bottom: 1em;
    box-shadow: 3px 15px 30px 1px rgb(148, 147, 147);
    border-radius: 5px;
    display: flex; 
    justify-content: space-between;
    
}

.listname{
padding-top :15px;
}

.listname>a{
    text-decoration: none;
    color: black;
    padding: 10px 2em 10px 2em;
    border: 1px solid grey;
    border-radius: 2px;
}

.deleteContact{
    color: red;
    border: 1px solid red;
    text-align: right;
}

.deleteContact:hover{
    color:white;
    background: red;
    transition: 0.3s ease;  
}

button.cancel{
    border: 1px solid red;
}

button.cancel > a{
    color:red;
    text-decoration: none;
}

button.cancel > a:hover{
    color:white;
    text-decoration: none;
}

button.cancel:hover{
    background-color: red;
    color: white;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
        section#main{
            display: block;
        }
        section#form-content{
            width : 100%;
        }
        section#form-output{
            width : 100%;
            margin-left : 0px;
            margin-top : 2em;
            }
        .contact-name{
            display: block;
        }

        span.listname{
            margin: 10px auto;
            font-size: 12px;
            display: block;

        }

        button.deleteContact{
        margin: 10px auto;
        font-size: 10px;


        }
}